<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <%- include("partials/head")  %> 
        <meta content="Node Galeria" property="og:title" />
            <meta content="Esta es una galeria creada con propositos de aprender" property="og:description" />
            <meta content="https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/233_Node_Js-512.png" property="og:image" />
            <meta content="GREEN" data-react-helmet="true" name="theme-color"/>
            <link rel="icon" href="https://ugeek.github.io/blog/images-blog/node.png"      
            sizes="32x32" type="image/png">
</head>
<body>

    <%- include("partials/navigation") %> 

    <div class="d-flex justify-content-center head">
        <h1><b>Bienvenido a <span style="color: yellowgreen;">NodeGaleria</span></b></h1>
        <p style="color: #2425;">¡Sube la imagen que quieras!</p>
    </div>
    
    <div class="container p-4">
        <div class="row">
            <div class="card-columns">
                <% images.forEach(function(image) { %>
                    <div class="card animate__animated animate__fadeInDown">
                        <img src="<%=  image.path %> " class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title"><%= image.title %> </h5>
                            <p class="card-text"> <%= image.description %> </p>
                            <p class="card-text"><%= format(image.created_at) %> </p>
                            <a href="/image/<%= image._id %>" class="btn btn-primary">
                                Ver Imagen
                            </a>
                        </div>
                    </div>
                    <%  }) %>
            </div>
        </div>
    </div>
    
</body>
</html>